<style>
  .download-image-warp{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#eeeeee;
  }

  .end{
    margin:0;
  }

  .description-title {
    font-size: 16px;
}




</style>


<div class="ui raised segment">
  <div class="ui container">
    <div class="ui grid">
      <div class="twelve wide column">
        <h1 class="ui header">Скачайте наш прайс-лист сейчас.</h1>
        <h3 class="ui header">  Чтобы ознакомиться с ним в удобное для Вас время.</h3>
      </div>
      <div class="four wide column">
        <!-- <div style="color:#21ba45"> -->
          <i class="fas fa-check fa-7x"></i>
        <!-- </div> -->
      </div>
    </div>
    <br>
    <div class="ui divider"></div>
    <br>
    <p>ng Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <br>
    <div class="ui horizontal divider">
      <i class="grey download icon"></i>
    </div>
    <br>
    <div class="ui relaxed grid">
    <div class="five wide column">
      <div class="ui card">
        <div class="download-image-warp">
          <div style="color:#5a5a5a;">
            <i class="fas fa-file-alt fa-7x"></i>
          </div>
        </div>
      <div class="fluid ui button" tabindex="0">Скачать</div>
    </div>
    </div>
    <div class="six wide column">
      <div class="ui card">
        <div class="download-image-warp">
            <div style="color:#5a5a5a;">
              <i class="fas fa-file-excel fa-7x"></i>
            </div>
        </div>
      <div class="fluid ui button" tabindex="0">Скачать</div>
    </div>
    </div>
    <div class="five wide column">
      <div class="ui card">
        <div class="download-image-warp">
            <div style="color:#5a5a5a;">
              <i class="fas fa-file-archive fa-7x"></i>
            </div>
        </div>
      <div class="fluid ui button" tabindex="0">Скачать</div>
    </div>
    </div>
    </div>
    <div class="ui text container">
    <br>
    <div class="ui divider"></div>
    <br>
    <h1>Используйте наш AlmosAPI.</h1>
    <h5>Будьте в числе первых, кто получает актуальные данные.</h5>
    <div class="ui divider"></div>
    <p>AlmosAPI -  это инструмент для получения публичных данных из Almos по заданным ключевым словам.</p>
    <p>В отличие от методов обычного API, не нужно постоянно повторять запросы, чтобы получить обновления. Мы сами будем присылать новый подходящий контент по мере его появления.</p>
  </div>

</div>
</div>
