
  <!-- TODO refactor code and use less -->



<div class="menu-outer-wrapper">
  <div class="menu-inner-wrapper">
    <div class="menu-collection">
      {{#link-to 'catalog' tagName="div"}}
      <div class="menu-outer-icon">
        <div class="menu-inner-icon">
          <div class="menu-icon-viewbox">
            <i class="fas fa-book fa-2x"></i>
          </div>
          <div class="menu-icon-descr">
            <div class="menu-icon-descr-span">
              Каталог
            </div>
          </div>
        </div>
      </div>
      {{/link-to}}

      {{#link-to 'download' tagName="div"}}
      <div class="menu-outer-icon">
        <div class="menu-inner-icon">
          <div class="menu-icon-viewbox">
            <i class="fas fa-download fa-2x"></i>
          </div>
          <div class="menu-icon-descr">
            <div class="menu-icon-descr-span">
              Прайс
            </div>
          </div>
        </div>
      </div>
      {{/link-to}}

      {{#link-to 'contact' tagName="div"}}
      <div class="menu-outer-icon">
        <div class="menu-inner-icon">
          <div class="menu-icon-viewbox">
            <i class="fas fa-at fa-2x"></i>
          </div>
          <div class="menu-icon-descr">
            <div class="menu-icon-descr-span">
              Контакты
            </div>
          </div>
        </div>
      </div>
      {{/link-to}}

      <div class="menu-void-block"></div>

  <button type="button" class="basket-toggle-button" name="button" {{action "openSideMenu"}}>
      <div class="menu-outer-icon">
        <div class="menu-inner-icon">
          <div class="menu-icon-viewbox">
            <i class="fas fa-shopping-cart fa-2x"></i>
          </div>
          <div class="menu-icon-descr">
            <div class="menu-icon-descr-span">
              Корзина
            </div>
          </div>
        </div>
      </div>
      </button>

      </div>
    </div>
  </div>
    <button type="button" name="button" class="dimmer" id="dimmer" {{action "closeSideMenu"}}></button>


{{yield}}
