<div style="overflow:hidden">
  <div class="ui grid">
    <div class="one wide column">
      <!-- padding column -->
    </div>
    <div class="twelve wide column">
      {{download-info}}
    <div class="three wide column">
      <!-- profile-menu -->
      <div class="right very close ui rail">
      {{nav-profile}}
      </div>
      <!-- . -->
    </div>
    </div>
  </div>
</div>
