  <button type="button" class="basket-toggle-button" name="button" onclick="openSlideMenu()"></button>

  <div id="side-menu" class="side-basket-outer-wrapper">
    <div class="side-basket-inner-wrapper">
      <div class="side-basket-collection">
        <div class="basket-close-warp">
          <button type="button" class="button-close" onclick="closeSlideMenu()">
            <div class="icon-close-warp">
              <div style="color:black;">
                <i class="fas fa-angle-left"></i>
              </div>
            </div>
          </button>
        </div>
        <div class="side-basket-outer-block">
          <div class="side-basket-inner-addit-block">
            <div class="basket-title">
              Корзина
            </div>
          </div>
        </div>
        <div class="side-basket-outer-block">
          <div class="side-basket-inner-main-block">
            <div class="side-basket-viewport-product">

            </div>
          </div>
        </div>
        <div class="side-basket-outer-block">
          <div class="side-basket-inner-addit-block">
            {{btn-basket}}
          </div>
        </div>
      </div>
    </div>





      <!-- <button type="button" name="button" class="basket-buy-button" {{action 'fuck'}}>
        <span class="button-buy-desr">Продолжить
          ::after
        </span>
        <div class="button-buy-icon">
          <i class="fas fa-angle-double-right"></i>
        </div>
      </button> -->
      </div>


  <script>
    function openSlideMenu(){
      document.getElementById('side-menu').style.width = '300px';
    }

    function closeSlideMenu(){
      document.getElementById('side-menu').style.width = '0';
    }
  </script>
