<div class="ui sidebar wide inverted vertical menu visible">
  {{#link-to 'search' tagName="a"}}
  <a class="item" href="search">Поиск</a>
  {{/link-to}}

  {{#link-to 'catalog' tagName="a"}}
  <a class="item" href="catalog">Каталог</a>
  {{/link-to}}

  {{#link-to 'download' tagName="a"}}
  <a class="item" href="download">Прайс</a>
  {{/link-to}}
</div>
