<!-- includes sidebar and standard structure-component -->

<style>


  .ui.container {
   margin-left: 3em !important;
   margin-right: 3em !important;
   width: auto !important;
   max-width: 960px !important;
 }

  .items-list {
    margin-top: 30px;
  }

  .item {
    position: relative;
    height: 8%;

    font-size: 18px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;

    text-align: center;
  }

    hr {
    border: 0;
    height: 12px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    color: white;
  }

  .basket {
    position: relative;
    width: 100%;
    height: 44%;
    padding-bottom: 50px;
  }

  .empty-basket {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .buy-button {
    text-align: center;
  }

  .test-text {
    text-align: center;
  }
</style>


  <div class="sidebar">
    <div class="ui left vertical inverted visible sidebar menu">
      <div class="logo">
        <div style="margin-top:30px;margin-left:auto;margin-right:auto;width:calc(50% - 25px);color:white;">
          <i class="fab fa-adn fa-7x"></i>
        </div>
      </div>
      <div class="items-list">
      {{#link-to 'catalog' tagName="a"}}
      <a class="item" href="catalog">Каталог</a>
      {{/link-to}}

      {{#link-to 'download' tagName="a"}}
      <a class="item" href="download">Прайс</a>
      {{/link-to}}

      {{#link-to 'search' tagName="a"}}
      <a class="item" href="search">Контакты</a>
      {{/link-to}}
      </div>
      <h4 class="ui inverted horizontal divider header">Ваша корзина</h4>
      <div class="basket">
        <div class="empty-basket">
            <div style="display:table-cell;vertical-align:middle;color:#2f2f2f;">
              <i class="fas fa-shopping-basket fa-5x aria-hidden=true"></i>
            </div>
        </div>
      </div>
      <div class="buy-button">
        <div class="ui green animated disabled button" tabindex="0">
          <div class="visible content">Оформить</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
