<!-- Defines the structure of containers for content -->

<style>
.main {
  flex: 1 1 auto;
}
</style>

<div class="main">
  <div class="ui grid page">
    <div class="fourteen wide column">
      <div class="ui raised segment">
        {{download-info}}
      </div>
    </div>
  </div>
</div>
