.menu-outer-wrapper  {
  position: fixed;
  bottom: 0;
  top:0;
  left:0;
  z-index:2;


  width: 80px;
  height: 100vh;
  background-color: white;

  /* border-right: 1.2px;
  border-right-style: groove;
  border-right-color: black; */


  box-shadow: 1px 0px 4px 0px #ccc;
}

.menu-inner-wrapper {
  display: block;
  position: relative;

}

.menu-collection {
  display: flex;
  height:100vh;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
/*  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; */
}


.menu-inner-icon {


  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #4a4a4a;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  width: 80px;
  height: 59px;

  transform: translateZ(0);
}

.menu-outer-icon {
  cursor: pointer;
}

.menu-outer-icon :hover {
  background-color: #000;
}

.menu-outer-icon :hover .menu-icon-descr {
  visibility: visible;
}

.menu-inner-icon :hover .menu-icon-descr-span {
  visibility: visible;
}

.menu-icon-descr {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  left:0;
  min-width: 12.5vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  visibility: hidden;
  outline: 0;

  font-size:calc(12px + 1.5vw);
}

.menu-icon-descr-span {
  font-size: 2.5vh;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  visibility: hidden;
}

/* .menu-inner-icon :hover .test {
  display: block;
}


.menu-outer-icon :hover .fa-at {

  color:white;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.menu-outer-icon :hover .fa-book {
  color:white;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.menu-outer-icon :hover .fa-bell {
  color:white;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
} */


.menu-icon-viewbox {
  stroke: #4a4a4a;
  stroke-width: .8px;
  width: 5vw;
  height: 5vh;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index:2; */
}

.menu-void-block {
width: 59px;
height:80vh;
}

/* Bounce In */
.hvr-bounce-in {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
-webkit-transform: scale(1.2);
transform: scale(1.2);
-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
