.btn {
  height: 50px;
  width: 150px;

  color: black;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover { text-decoration: none; }

}


.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: black;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.btn-4:hover {

  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
