<style>
  body {background-color: #eeeeee;}

  .flexbox {
    display: flex;
  }

  .sidebar {
    flex: 0 0 auto;
    width: 260px;
  }
  .main {
    flex: 1 1 auto;
  }
</style>

<body>
<div class="flexbox">
{{side-bar}}
<div class="main">
  {{imprecise-search}}
</div>
</div>
</body>

{{outlet}}
