<style>
  body {background-color: white;}

  .flexbox {
    display: flex;
  }

  .sidebar {
    flex: 0 0 auto;
    width: 260px;
  }
  .main {
    flex: 1 1 auto;
  }
</style>

<body>
<div class="flexbox">
  {{left-menu-bar}}

  <div class="main">
    {{contact-info}}
  </div>
</div>
</body>

{{outlet}}
