<style>
  body {background-color: #eeeeee;}

  .flexbox {
    display: flex;
  }

  .sidebar {
    flex: 0 0 auto;
    width: 260px;
  }
  .main {
    flex: 1 1 auto;
  }
</style>

<body>
<div class="flexbox">
  {{left-menu-bar}}

  <div class="main">
    <div style="overflow:hidden">
      <div class="ui grid">
        {{side-basket}}
          <!-- padding column -->
        <div class="two wide column"></div>
          <!-- . -->

        <div class="twelve wide column">
          {{download-info}}
        </div>

        <div class="two wide column"></div>
        
      </div>
    </div>
  </div>
</div>
</body>

{{outlet}}
