<style>
  body {background-color: #eeeeee;}

  .flexbox {
    display: flex;
  }

  .sidebar {
    flex: 0 0 auto;
    width: 260px;
  }
  .main {
    flex: 1 1 auto;
  }
</style>

<body>
<div class="flexbox">
  {{const-side-bar}}
  <div class="main">
    <div style="overflow:hidden">
      <div class="ui grid">
        <div class="one wide column">
          <!-- padding column -->
        </div>
        <div class="twelve wide column">
          {{download-info}}
    <div class="three wide column">
      <!-- profile-menu -->
      <div class="right very close ui rail">
      {{nav-profile}}
      </div>
      <!-- . -->
    </div>
    </div>
  </div>
</div>

  </div>
</div>
</body>

{{outlet}}
